@font-face {
  font-family: "pokemon";
  src: local("PokemonFont"),
  url("./fonts/PokemonFont.ttf") format("truetype");
}

.App {
  font-family: "pokemon";
  background: ;
}
header {
  text-align: center;
 
}

form {
  text-align: left;
}
ul {
  list-style-type: none;
}

.addButton {
  width: 100px;
  height: 100px;
background-image: url(./img/pokeBall.png);
}

.App-header {
  background-color: #22c3c1;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
