@font-face {
  font-family: "pokemon";
  src: local("PokemonFont"),
  url("./fonts/PokemonFont.ttf") format("truetype");
}

.App {
  font-family: "pokemon";
  position: fixed;
  background-image: url(./img/Background.png);
  height: 100%;
  width: 100%;
}
header {
  text-align: center;
 
}

form {
  text-align: left;
  padding-left: 15px;
}
ul {
  list-style-type: none;
}

.removeButton{

  background-image: url(./img/pokeBallOpen.png);
  height: 20px;
  width: 20px;
  border: none;

}
label input[type=checkbox]:checked + span{
  text-decoration: line-through;
  background:rgba(23, 84, 23, 0.2);
}
.addButton {
height: 20px;
width: 20px;
background: transparent;
border: none;
padding: 5px;
margin-top: 3px;
background-image: url(./img/pokeBall.png);
}

.App-header {
  background-color: #22c3c1;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
